<%- include('../partials/html-head') %>
<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
>
<link rel="stylesheet" href="/stylesheets/showSighting.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
    <h2>Add Sighting</h2>
    <form action="/profiles/<%=profile._id%>/<%=sighting._id%>?_method=PATCH" method='POST'>
    <form action="/reviews/<%=profile._id%>/<%=sighting._id%>?_method=PATCH" method='POST'>
      <label>
        Date:
        <input type="date" name='date' value='<%= sighting.date%>'>
      </label><br>
      <label>
        City:
        <input type="text" name='city' value='<%= sighting.city %>'>
      </label><br>
      <label>
        State:
        <select name="state">
          <option value='<%=sighting.state %>'><%=sighting.state %></option>
          <% states.forEach((state) => { %> 
            <option value="<%=state%>"><%=state%></option>
          <% }) %> 
        </select>
      </label><br>
      <label>
        Notes:
        <textarea name="notes"><%=sighting.notes%></textarea>
      </label><br>
      
      <button type="submit">Edit Sighting</button>
    </form>
</main>

<%- include('../partials/footer') %>