<%- include('../partials/html-head') %>
<%- include('../partials/search') %>
<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
>
<%- include('../partials/nav') %>

<main>
  <% if (isSelf) { %>
    <h1 class='title'>Add Sighting</h1>
      <form class='add-sighting-form' action="/profiles/<%=profile._id%>" method='POST'>
        <div class='bird-form'>
        <label>
          <span class='label'>Date:</span><br>
          <input type="date" name='date' value='<%=defaultDate%>'>
        </label><br>
        <label>
          City:<br>
          <input type="text" name='city'>
        </label><br>
        <label>
          <span class='label'>State:</span><br>
          <select class="js-example-basic-single" name="state">
            <% states.forEach((state) => { %> 
              <option value="<%=state%>"><%=state%></option>
            <% }) %> 
          </select>
        </label><br>
        <label class='notes-label'>
          <span class='label'>Notes:</span><br>
          <textarea name="notes" placeholder="Anything Notable?"></textarea>
        </label><br>
        <label>
          <span class='label'>Bird Species:</span><br>
          <select class="js-example-basic-single" name='bird'>
            <% usSpecies.forEach((species) => { %> 
              <option value="<%=species.speciesCode%>,<%=species.comName%>"><%=species.comName%></option>
            <% }) %> 
          </select>
        </label><br>
        <button class='submit-button'>Add Sighting</button>
    </div>
  </form>  
  <% } %>
  <% if (isSelf) { %>
    <h1 class='title'>Your Sightings</h1>
  <% } else { %>
  <h1 class='title'><%= profile.name%>'s Sightings</h1>
  <% } %> 
<% profile.sightings.sort((a,b) => {return b.date - a.date}) %>
<% profile.sightings.forEach(sighting => { %>
  <div class="card text-center">
    <div id='sighting-header' class="card-header">
      <% if (isSelf) { %>
      <form id='sighting-delete' action='/profiles/<%=profile._id%>/<%=sighting._id%>?_method=DELETE' method='post'>
        <button class='delete-button' type="submit">X</button>
      </form>
      <% } %> 
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= sighting.city %>, <%= sighting.state %> </h5>
      <p class="card-text">
        <% sighting.birds.forEach(bird => { %>
          <%=bird.commonName%><br>
        <% }) %> 
        </ul>
      </p>
      <a href="/profiles/<%=profile._id%>/<%=sighting._id%>"><button class='submit-button card-button'>Details</button></a>
    </div>
    <div class="card-footer date-footer text-muted">
      <%= sighting.date.getUTCMonth() + 1%>/<%= sighting.date.getUTCDate() %>/<%= sighting.date.getUTCFullYear() %>
    </div>
  </div>
<% }) %> 
</main>

<%- include('../partials/footer') %>